h1, h3 {
    color: #0c5460;
    font-family: Roboto, sans-serif;
}

#carouselExample{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.carousel-item img{
    width: 100%;
    height: auto;
}

/* set to !important to override Materialize stylesheet */

.carousel {
  height: 700px !important;
}

/* set to flexbox to center the images with the indicator icons */
.carousel-item {
  display: flex;
  align-items: start;
  justify-content: center;
}


.carousel-item img {
  width: 500px !important;
  height: auto !important;
}

.category-item{
    background-color: #0c5460;
    margin: 50px;
    padding: 20px 20px 20px 40px;
}

