{% load static %}
<html>
    <head>
        <title>E commerce</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <link rel="stylesheet" href="{% static 'js/website.js' %}">
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Django Discount</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'homepage' %}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'categories' %}">Catégories</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{%url 'orders' %}">Mes commandes</a>
      </li>


    </ul>
  </div>
    <li class="navbar-nav">
        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <a class="nav-link" href="{%url 'cart' %}">Panier</a>
    </li>
    {% if user.is_authenticated %}
        <li class="navbar-nav">
            <a class="nav-link" href="{%url 'logout' %}">Déconnexion</a>
        </li>
        <li class="navbar-nav">
            <span class="navbar-text">{{user.username}}</span>
        </li>

    {% else %}
        <li class="navbar-nav">
            <a class="nav-link" href="{%url 'login' %}">Connexion</a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{%url 'signup' %}">Inscription</a>
        </li>
    {%endif%}

</nav>

       <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>