{% extends "base.html" %}

{%block content%}

<h1> Panier de {{user.username}}</h1>

{% if message %}
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{% endif %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th> Produit </th>
            <th> Quantité </th>
            <th> Prix </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
    {%for item in cart %}
        <tr>
            <th> {{item.product.name}}</th>
            <th> {{item.quantity}}</th>
            <th> {{item.product.price}}€</th>
            <th> <a href="{%url 'delete_cart_item' item.id %}"> <button class="btn btn-danger">Supprimer</button> </a></th>
        </tr>
    {%endfor%}
    </tbody>
    <tfoot class="thead-dark">
    <tr>
        <th id="total">Total :</th>
        <td>{{total_price}}€</td>
        <td> <a href="{%url 'order' %}"> <button class="btn btn-secondary"> Commander </button> </a> </td>
        <td></td>
    </tr>
   </tfoot>
</table>

{% endblock %}