{% extends "base.html" %}

{%block content%}

<div class="container">
    {% for category in categories %}
    <a href="{%url 'category_details' category.id %}">
    <div class ="category-item">
        <div class="row">
                    <span class="text-white"> {{ category.name }} </span>
            </div>
        </div>
    </a>
    {%endfor%}
</div>

{% endblock %}