{% extends "base.html" %}


{% block content %}
<div class="container" >
  <div class="row justify-content-center">
      <div class="w-auto p-5">
    <h1>{{category.name}}</h1>
          </div>
  </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="text-center p-5">
                <p> {{ product.name }}</p>
                <p> {{ product.price }}€</p>
                <a href="{%url 'products_details' product.id%}"> <img src="/media/{{product.image}}" height="150px" class=""> </a>
                <div class="text-center p-5">
                    <a href="{%url 'products_details' product.id%}"> <button class="btn btn-info" style="margin-right: 15px"> Détails </button> </a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}