{% extends "base.html" %}

{%block content%}

<div class="container" >
  <div class="row justify-content-center">
      <div class="w-auto p-5">
<h1> Commande du {{ order.date }}</h1>
          </div>
  </div>
</div>

<div class="container">
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th> quantité </th>
            <th> Produit </th>
            <th> Prix </th>
        </tr>
    </thead>
    <tbody>
    {%for item in details %}
        <tr>
            <th> {{item.quantity}}</th>
            <th> {{item.product.name}}</th>
            <th> {{item.product.price}}€</th>
        </tr>
    {%endfor%}
    </tbody>
     <tfoot class="thead-dark">
    <tr>
        <th id="total">Total :</th>
        <td>{{total_price}}€</td>
        <td> </td>
    </tr>
        </tfoot>
</table>
</div>

{% endblock %}