{% extends "base.html" %}

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.carousel');
   var instances = M.Carousel.init(elems, {
     indicators: true,
     padding: 200,
   });
 });
</script>

{% block content %}

<div class="row justify-content-md-center">
    {%for category in categories%}
    <div class="col">
    <a href="{%url 'category_details' category.id %}"> <span class="border border-info rounded-lg"> {{ category.name }}</span></a>
        </div>
    {%endfor%}
</div>

    <h1> Home page </h1>
<div class="row"> </div>
<div class="row"> </div>
<div class="row"> </div>
<h3> Derniers articles </h3>


<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="text-center p-5">
                <p> {{ product.name }}</p>
                <p> {{ product.price }}€</p>
                <a href="{%url 'products_details' product.id%}"> <img src="/media/{{product.image}}" height="150px" class="rounded"> </a>
                <div class="text-center p-5">
                    <div class="text-center">
                    <a href="{%url 'products_details' product.id%}"> <button class="btn btn-info" style="margin-right: 15px"> Détails </button> </a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}



