<h1>Se connecter</h1>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
<div class="container">
    <span> Vous êtes inscrit, {{ user.username }} ! </span>
</div>
{% else %}
<form method="post" action="{%url 'login'%}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter" />
</form>
{% endif %}