{% extends "base.html" %}

{%block content%}

{% if message %}
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{% endif %}

<div class="container">
    {% for order in orders %}
    <a href="{%url 'history_orders' order.id %}">
    <div class ="category-item">
        <div class="row">
                    <span class="text-white"> Commande du{{ order.date }} </span>
            </div>
        </div>
    </a>
    {%endfor%}
</div>

{% endblock %}