{% extends "base.html" %}
{% include "confirm_cart_modal.html" %}
{%block content%}
<div class="container" >
    <div class="row justify-content-center">
        <div class="w-auto p-5">
            <h1>{{product.name}}</h1>
            <div class="text-center p-3">
                <img src="/media/{{product.image}}" height="200px" style="margin-top: 80px">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="w-auto p-5">
        <p><strong> Description: </strong> {{product.description}}</p>
        <p><strong> Prix: </strong> {{product.price}}€</p>
            <a href="{% url 'add_cart' product.id %}" class="confirm-cart" title="Cart" data-toggle="modal" data-target="#addCart" id="">
                <button class="btn btn-info" data-toggle="modal" data-target="#addCart"> + Panier </button>
            </a>
    </div>
    <div class="w-auto p-1">

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addCart" tabindex="-1" role="dialog" aria-labelledby="confirmAddCartModal" caller-id="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajout panier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment ajouter {{product.name}} au panier?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <a href="{% url 'add_cart' product.id %}"> <button type="button" class="btn btn-primary" id="confirmAddCartModal">Ajouter</button> </a>
      </div>
    </div>
  </div>
</div>





{% endblock %}