{% extends 'base.html' %}


{% block content %}
    <h1>Inscription</h1>

    {% if error %}
    <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
    Vous êtes connecté, {{ user.username }} !
    {% else %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="S'inscrire" />
    </form>
    {% endif %}

{%endblock%}